.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

button {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 3px;
  box-shadow: rgb(94, 93, 93);
  border: none;
  font-size: 20px;
  
}

button:hover {
  width: 75px;
  height: 75px;
  font-weight: 35px;
}

.increment {
  background-color: rgb(119, 243, 119);
  color: white;
}

.decrement {
  background-color: rgb(240, 116, 116);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
